.row{
    margin: 10px;
}
#api{
    width: 90%;
    font-size: 1.2em;
    padding: 3px;
    border-radius: 30px;
}
#Image_compression_rate{
    width: 20%;
    font-size: 1.2em;
    padding: 3px;
    border-radius: 30px;
    text-align: center;
}
.button-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}